.gradient-btn:hover {
  background:
    linear-gradient(90deg, #db5095 0%, #1945e8 100%),
    linear-gradient(90deg, #db5095 0%, #1945e8 100%) !important;
}

.border-none:hover {
  border-color: transparent !important;
}

body {
  background-color: #1d1d1d;
  background-image: url('assets/hero.png'), url('assets/bg.png');
  background-position:
    top center,
    center center;
  background-repeat: no-repeat, repeat-y;
  background-size: auto;
}

.mantine-Carousel-indicators {
  gap: 16px;
  bottom: -50px;
}

.mantine-Carousel-indicator:where([data-orientation='horizontal']) {
  width: 16px;
  height: 16px;
}

@media (max-width: 768px) {
  body {
    background-image: url('assets/hero-mobile.jpg'), url('assets/bg.png');
    background-size: contain;
  }
}
