.gradient-btn:hover {
  background:
    linear-gradient(90deg, #db5095 0%, #1945e8 100%),
    linear-gradient(90deg, #db5095 0%, #1945e8 100%) !important;
}

.border-none:hover {
  border-color: transparent !important;
}

body {
  background-color: #1d1d1d;
  background-image: url('assets/hero.png'), url('assets/bg.png');
  background-position:
    top center,
    center center;
  background-repeat: no-repeat, repeat-y;
  background-size: auto;
}

.link:where([data-underline='hover']),
.link {
  color: white;
  transition: all 150ms ease;
}
.link:where([data-underline='hover']):hover,
.link.active,
.link:hover {
  color: #ffe0bb !important;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25) !important;
}

.feedback-controls .mantine-Carousel-indicators {
  gap: 16px;
  bottom: -50px;
}

.mantine-Carousel-indicator:where([data-orientation='horizontal']) {
  width: 16px;
  height: 16px;
}

.product-action-icon:where(
  :disabled:not([data-loading]),
  [data-disabled]:not([data-loading])
) {
  background: linear-gradient(45deg, #f5c16c 0%, #e09b2d 100%);
}

.product-action-icon:disabled,
.product-action-icon[data-disabled] {
  background: linear-gradient(45deg, #f5c16c 0%, #e09b2d 100%) !important;
}

.product-action-icon:hover {
  background: linear-gradient(45deg, #ff5da2 0%, #6a5cff 100%);
}
.product-action-icon:hover svg {
  fill: white;
}

.product-tab-btn {
  white-space: nowrap;
  padding: 18px 36px;
  border-radius: 999px;
  border: 1px solid #fff;
  color: white;
}

.mantine-Tabs-tab[data-active] {
  background: #e1c06e;
  color: #000;
  border-color: transparent;
}

.product-tab-btn[data-active][data-active],
.product-tab-btn:not([data-disabled]):hover {
  border-color: transparent !important;
  background-color: rgba(225, 192, 110, 1);
}
.product-tab-btn[data-active][data-active] {
  border-color: transparent !important;
}

.product-controls-btn .mantine-Carousel-controls {
  top: calc(100% + 50px);
  justify-content: center;
  gap: 32px;
}
.product-controls-btn .mantine-UnstyledButton-root[data-variant='filled'] {
  border-color: #e1c06e;
}

@media (max-width: 768px) {
  body {
    background-image: url('assets/hero-mobile.jpg'), url('assets/bg.png');
    background-size: contain;
  }
}
